
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(54, 202, 221);
}


.div1 {
  width: 300px;
  height: 200px;
  margin: 50px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  dispaly: flex;
}


.div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin-top: 50%;
  padding: 50px;
  border-radius: 5px;
  
}
.div2 input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}