body {
    background-color: rgb(54, 202, 221);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: pink;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(252, 0, 0, 0.2);
    box-sizing: border-box;
    border: 2px solid black;
}

.header-cont {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-top: 10px;
    text-decoration: none;
    border: 2px solid black;
}